/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* фон для тёмной темы */
  --page-bg-image: url('../images/cover-image-dark.png');
  --page-bg-color: #000028;

  /* heading */
  --accent-color: #ff0070;
  --decor-color: #ff0070;
  --title-color: #db00ff;
  --menu-color: #ff0070;
  --bg-color: #000028;

  /* основная */
  --text-color: #f1f1f1;
  --section-title-color: #ff0070;
  --text-color-card: rgba(241, 178, 206, 1);
}

.theme-dark .decorated-zone__rec {
  display: block;
}