/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* фон для светлой темы */
  --page-bg-image: url('../images/cover-image-light.png');
  --page-bg-color: #FFF1F7; 

  /* heading */
  --accent-color: #FF8DCB;
  --decor-color: #353430;
  --title-color: #ffc2e6;
  --menu-color: #353430;
  --bg-color: #353430; 

  /* основная */
  --text-color: #353430;
  --section-title-color: #353430;
  --text-color-card: rgba(53, 52, 48, 1);
}

.theme-light .decorated-zone__rec {
  display: none;
}

.theme-light .decorated-zone__rec-container::after {
  display: none;
}

/* ===== АВТОМАТИЧЕСКАЯ СВЕТЛАЯ ТЕМА ===== */
@media (prefers-color-scheme: light) {
  :root {
    --page-bg-image: url('../images/cover-image-light.png');
    --page-bg-color: #FFF1F7;

    --accent-color: #FF0070;
    --decor-color: #353430;
    --title-color: #FFC2E6;
    --menu-color: #353430;
    --bg-color: #353430;

    --text-color: #353430;
    --section-title-color: #353430;
    --text-color-card: rgba(53, 52, 48, 1);

    --accent-color-footer: #FF0070;
  }

  /* Скрываем весь контейнер REC, а не только текст */
  .decorated-zone__rec-container {
    display: none;
  }
}