/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* фон для светлой темы */
  --page-bg-image: url('../images/cover-image-light.png');
  --page-bg-color: #FFF1F0;

  /* heading */
  --accent-color: #ff8dcb;
  --decor-color: #353430;
  --title-color: #ffc2e6;
  --menu-color: #353430;
  --bg-color: #FFF1F0;

  /* основная */
  --text-color: #353430;
  --section-title-color: #353430;
  --text-color-card: rgba(53, 52, 48, 1);
}

.theme-light .decorated-zone__rec {
  display: none;
}

.theme-light .decorated-zone__rec-container::after {
  display: none;
}